@import '~bootstrap';

button > span {
  pointer-events: none;
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, .3);
}

.popup {
  z-index: 1060;
}

.animate {
  transition: all .3s ease;
}

.flip {
  transform: rotate(-180deg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
